.sfc_nextfixture table {			display: table; width: 100%; border-collapse: collapse; }
.sfc_nextfixture td {				text-align: center !important; padding: 2px 5px; vertical-align: middle; }
.sfc_nextfixture .sfc_home,
.sfc_nextfixture .sfc_away {		width: 25%; }
.sfc_nextfixture .sfc_team {		font-size: small; position: relative; top: -10px; }
.sfc_nextfixture .sfc_details {		width: 50%; }
.sfc_nextfixture .sfc_competition {	font-size: small; font-weight: bold; }
.sfc_nextfixture .sfc_date {		font-weight: bold; }
.sfc_nextfixture .sfc_score {		font-size: 1.5em; }
.sfc_nextfixture .sfc_footer {		display: block !important; text-align: center; }
