.statsfc_nextfixture table {				display: table; width: 100%; border-collapse: collapse; margin-bottom: 0; }
.statsfc_nextfixture tr {					vertical-align: top; }
.statsfc_nextfixture td {					text-align: center; padding: 2px 5px; }
.statsfc_nextfixture img {					display: inline; width: 80px; height: 80px; padding: 0; margin: 0; border: none !important; }
.statsfc_nextfixture .statsfc_home,
.statsfc_nextfixture .statsfc_away {		width: 25%; }
.statsfc_nextfixture .statsfc_team {		font-size: small; position: relative; top: -10px; }
.statsfc_nextfixture .statsfc_details {		width: 50%; }
.statsfc_nextfixture .statsfc_competition {	font-size: small; font-weight: bold; }
.statsfc_nextfixture .statsfc_date {		font-weight: bold; }
.statsfc_nextfixture .statsfc_footer {		display: block !important; text-align: right; margin-top: 0; padding: 2px 5px; }